aiofiles
appwrite
fastapi
groq
langchain
langchain_community
langchain_core
langchain_groq
langgraph
murf
pydantic
pydub
pymupdf
python-dotenv
python_pptx
python-multipart
Requests
pyaudioop
uuid
uvicorn